#parse("/velocity/layout.vm")
#@mainLayout()

<script src="/duedate.js"></script>

<div class="panel panel-default">
	<div class="panel-heading">$msg.get("TASK_NEW")</div>
		<form action="$WebPath.getSUCCESS_TASK()" method="post" onsubmit="return checkFormatDueDate()">
			<input type="text" name="name" id="name" placeholder="$msg.get("TASK_NAME")" value="" required autofocus>
			<input type="text" name="note" id="note" placeholder="$msg.get("TASK_NOTE")">
			<label>$msg.get("DUE_DATE")</label> 
			<input name="due_date" type="date" placeholder="2016-09-16"/>
			<input type="submit" value="$msg.get("TASK_NEW")" class="btn btn-update custom-width-submit">
		</form>	
</div>

<a href="$WebPath.getPROJECTS()$currentProjectId/">$msg.get("TASK_RETURN")</a>

#end