#parse("/velocity/layout.vm")
#@mainLayout()

<div class="panel panel-default">
	<div class="panel-heading">$msg.get("TASK_NEW")</div>
		<form action="/task/success/" method="post">
			<input type="text" name="name" placeholder="$msg.get("TASK_NAME")" value="" required autofocus>
			<input type="text" name="note" placeholder="$msg.get("TASK_NOTE")">
			<label>$msg.get("DUE_DATE")</label> 
			<input name="due_date" type="date" />
			<input type="submit" value="$msg.get("TASK_NEW")" class="btn btn-update custom-width-submit">
		</form>	
</div>

<a href="/project/$currentProjectId/">$msg.get("TASK_RETURN")</a>

#end
