#parse("/velocity/layout.vm")
#@mainLayout()

	<div class="panel panel-default">
	<div class="panel-heading">
		<span class="lead">
			#if ($updated)
				$task.getName() has been updated.
				#else
				Edit $task.getName()'s project
			#end
		</span>
	</div>
		<form id="task" action="/task/" method="post">
  		<input id="taskId" name="taskId" type="hidden" value="$task.getId()">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Task Name</th>
					<th>Task Note</th>
				   	<th width="100"></th>
				</tr>
			</thead>
		    <tbody>
				<tr>
					<td><input id="name" name="name" type="text" value="$task.getName()" required></td>
					<td><input id="note" name="note" type="text" value="$task.getNote()"></td>
					<td><input type="submit" value="$msg.get("TASK_UPDATE")" class="btn btn-update custom-width-submit"></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>	

	<a href="/project/$currentProjectId/">Return to Project</a>
#end