#parse("/velocity/layout.vm")
#@mainLayout()

<script src="/duedate.js"></script>

	<div class="panel panel-default">
	<div class="panel-heading">
			#if ($updated)
				$msg.get("TASK_UPDATED", $task.getName())
			#else
				$msg.get("TASK_EDIT", $task.getName())
			#end
	</div>
		<form action="$WebPath.getTASKS()" method="post" onsubmit="return checkFormatDueDate()">
  		<input name="taskId" type="hidden" value="$task.getId()">
		<table>
			<thead>
				<tr>
					<th>$msg.get("TASK_NAME")</th>
					<th>$msg.get("DUE_DATE")</th>
				   	<th>$msg.get("TASK_DONE")</th>
				</tr>
			</thead>
		    <tbody>
				<tr>
					<td><input name="name" type="text" value="$task.getName()" required></td>
					<td><input id="due_date" name="due_date" type="date" value="$task.getDue_date()" placeholder="2016-09-16" type="number"></td>
					<td><input type="checkbox" name="done"
						#if($task.getDone() == 0) checked #end
					></td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">$msg.get("TASK_NOTE")</th>
				   	<th width="100"></th>
				</tr>
			</thead>
		    <tbody>
				<tr>
					<td colspan="2"><input name="note" type="text" value="$task.getNote()"></td>
					<td><input type="submit" value="$msg.get("TASK_UPDATE")" class="btn btn-update custom-width-submit"></td>
				</tr>
			</tbody>
		</table>
		</form>
		#set ($title = $task.getNote())
		#if($title == "")
			#set ($title = $task.getName())
		#end
		<div class="panel-heading">$msg.get("TODO_HISTORY", $title)</div>
		<table>		
			<thead>
				<tr>
					<th colspan="2">$msg.get("TODO_NOTE")</th>
					<th>$msg.get("TODO_DATE_START")</th>
					<th>$msg.get("TODO_TIME_TOTAL")</th>
				</tr>
			</thead>
			<tbody>
				#foreach($todo in $todos)
				<tr>
					<td colspan="2">$todo.getNote()</td>
					<td>$todo.getDate_started()</td>
					<td>$todo.getTime_total()</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>	

	<a href="$WebPath.getPROJECTS()$currentProjectId/">$msg.get("TASK_RETURN")</a>
#end