#parse("/velocity/layout.vm")
#@mainLayout()

<div class="panel panel-default">
	<div class="panel-heading">$msg.get("PROJECT_NEW")</div>
		<form id="project" action="/project/success/" method="post">
			<input type="text" name="name" placeholder="$msg.get("PROJECT_NAME")" value="" required autofocus>
			<input type="submit" value="$msg.get("PROJECT_NEW")" class="btn btn-update custom-width-submit">
		</form>	
</div>

<a href="/project/">Return to Projects</a>

#end
