#parse("/velocity/layout.vm")
#@mainLayout()

<script src="/dialogbox.js"></script>
<script src="/checklimit.js"></script>
	
	<div class="panel panel-default">
	<div class="panel-heading">
			#if ($updated)
				$msg.get("PROJECT_UPDATED", $project.getName())
			#else
				$msg.get("PROJECT_EDIT", $project.getName())
			#end
	</div>
		<form action="$WebPath.getPROJECTS()" method="post" onsubmit="return checkLimitNameNote()">
  		<input name="projectId" type="hidden" value="$project.getId()">
		<table>
			<thead>
				<tr>
					<th>$msg.get("PROJECT_NAME")</th>
					<th>$msg.get("PROJECT_NOTE")</th>
				   	<th width="100"></th>
				</tr>
			</thead>
		    <tbody>
				<tr>
					<td><input name="name" id="name" type="text" value="$project.getName()" required></td>
					<td><input name="note" id="note" type="text" value="$project.getNote()"></td>
					<td><input type="submit" value="$msg.get("PROJECT_UPDATE")" class="btn btn-update custom-width-submit"></td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
	
	<h2>$msg.get("TASK_LIST")</h2>
	
	<table>
		<thead>
			<tr>
				<th>$msg.get("TASK_NAME")</th>
				<th>$msg.get("TASK_NOTE")</th>
			   	<th>$msg.get("TASK_DONE")</th>
			   	<th width="100"></th>
			    <th width="100"></th>
				</tr>
		</thead>
		<tbody>
			#foreach($task in $tasks)
				<tr>
					<td><a href="$WebPath.getTASKS()$task.getId()">$task.getName()</a></td>
					<td>$task.getNote()</td>
					<td>
						#if($task.getDone() == 0) $msg.get("LABEL_YES")
						#elseif($task.getDone() == 1) $msg.get("LABEL_NO")
						#end
					</td>
					<td><a href="$WebPath.getTASKS()edit/$task.getId()" class="btn btn-success custom-width">$msg.get("LABEL_EDIT")</a></td>
					<td><a href="$WebPath.getTASKS()del/$task.getId()" class="btn btn-danger custom-width" onclick="return confirmbox();">$msg.get("LABEL_DELETE")</a></td>
				</tr>
			#end
		</tbody>
	</table>
	
	<p></p>
	<a href="$WebPath.getNEW_TASK()">$msg.get("LABEL_ADDNEW") $msg.get("TASK_HEADING_ALL")</a>
	
	<p></p>
	<a href="$WebPath.getPROJECTS()">$msg.get("LABEL_RETURNTO") $msg.get("PROJECTS_HEADING_ALL")</a>
#end