#parse("/velocity/layout.vm")
#@mainLayout()

<h1>$msg.get("LABEL_SUCCESS")</h1>
<p>$msg.get("PROJECT_SAVED", $project.getName())</p>
<a href="$WebPath.getPROJECTS()">$msg.get("LABEL_RETURNTO") $msg.get("PROJECTS_HEADING_ALL")</a>

#end
